.active {
  background: #5d87ff !important;
  color: #eeee !important;
  margin: 0 4% !important;
  border-radius: 7px !important;
  transition: background 0.3s ease, color 0.3s ease, margin 0.3s ease,
    border-radius 0.3s ease !important;
}

.active .icon-style {
  color: #eeee !important;
}

.icon-style {
  color: #eeee !important;
  transition: color 0.3s ease !important;
}

.ListItemButton {
  transition: background 0.4s ease, color 0.4s ease, margin 0.4s ease,
    border-radius 0.4s ease !important;
}

.ListItemButton .icon-style {
  color: #032840 !important;
  transition: color 0.4s ease !important;
}

.ListItemButton.active .icon-style {
  color: #eeee !important;
}

.ListItemButton:hover {
  background: rgba(93, 135, 255, 0.2);
  color: #032840;
}

.big-logo {
  margin: 10% 1% 5% 10%;
}

.small-logo {
  margin: 38% 0 5% 25%;
}
